/* client/src/pages/chat/styles.module.css */

.chatContainer {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4%;
  }
  
  /* Room and users component */
  .roomAndUsersColumn {
    max-height: 100%;
    border-right: 2px solid #dfdfdf;
  }
  .roomTitle {
    margin-bottom: 25%;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
  }
  .usersTitle {
    font-size: 1.2rem;
    color: #fff;
  }
  .usersList {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 60px;
    color: rgb(153, 217, 234);
  }
  .usersList li {
    margin-bottom: 12px;
  }
  
  /* Messages */
  .messagesColumn {
    margin-top: 1%;
    margin-left: 10%;
    height: 85vh;
    overflow: auto;
    padding: 10px 10px 10px 40px;
  }
  .message {
    align-items: 'center';
    background: rgb(0, 24, 111);
    border-radius: 6px;
    margin-bottom: 24px;
    max-width: 800px;
    padding: 12px;
  }
  .msgMeta {
    color: rgb(153, 217, 234);
    font-size: 1rem;
  }
  .msgText {
    color: #fff;
  }
  
  /* Message input and button */
  .sendMessageContainer {
    padding: 16px 20px 20px 16px;
    margin-bottom: 10%;
  }
  .messageInput {
    padding: 14px;
    margin-right: 16px;
    width: 60%;
    border-radius: 6px;
    border: 1px solid rgb(153, 217, 234);
    font-size: 0.9rem;
  }